@use "@/styles/colors.scss" as *;
@use "@/styles/fonts.scss" as *;

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply m-0 p-0 flex flex-col;
}

body {
  @apply w-full min-h-screen overflow-x-hidden m-0 p-0;
}
